body{
  background-color: #E3BEC3;
}

h1{
  color: #b46b7a;
  font-family: 'HWT Arabesque';
  font-size: 50px;
  margin-top: 140px;
}

p{
  color: white;
  font-style: italic;
  font-family: monospace;
}

a{
  color: #6B8D73;
  font-family: monospace;
  font-style: italic;
}

a:hover{
  color: #c08f7c
}

img{
  opacity: .8;
  max-width: 25%
}



ul { list-style: none; } /* Remove default bullets */
li::before {
    content: "\2605"; /* Unicode bullet symbol */
    color:  #6B8D73; /* Bullet color */

}



.heading{
  display:flex;
  justify-content: center;
  margin-top: 20px;
}

.navigation{
  display: flex;
  justify-content: center;
}
