body{
  background-color: #E3BEC3;
}

h1{
  color: #B46B7A;
  font-weight: bolder;
  font-family: sans-serif;
}

p{
  color: white;
  font-style: italic;
  font-family: sans-serif;

}

a{
  color: #6B8D73;
  font-family: sans-serif;
  font-style: italic;
}

a:hover{
  color: #c08f7c
}

img{
  opacity: .8;
  max-width: 30%
}



ul { list-style: none; } /* Remove default bullets */
li::before {
    content: "\2605"; /* Unicode bullet symbol */
    color:  #6B8D73; /* Bullet color */
}
