@font-face {
    font-family: 'magazineregular';
    src: url('magazine-webfont.woff2') format('woff2'),
         url('magazine-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
  margin:20px;
  background:#a4baba;
  font-family:'Noto Sans JP' , sans-serif;
  color: white;
}

h1{
  font-family: 'Press Start 2P' , cursive;

}

h2{
  font-family: 'lisbeth-display' , sans-serif;
}

h3{
  font-family: 'magazineregular' ,serif;
}

p{
  background: linear-gradient(90deg, rgba(193,214,173,1) 53%, rgba(72,94,62,1) 100%);
  border-radius: 20px;

}
